.products__card {
  width: 24rem;
  height: 34rem;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.products__img {
  height: 70%;
}
.products__info {
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.products__info > h4 {
  font-size: 1.7rem;
}
.products__info > p {
  font-size: 1.6rem;
}
