.nav__usuario {
  width: 20%;
  height: 6rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.cart-count {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
.cart-count > p {
  font-size: 2.2rem;
  color: #000;
}
.user-icon,
.cart-icon {
  font-size: 3.2rem;
  color: #000;
}
@media screen and (max-width: 500px) {
  .nav__usuario {
    width: 40%;
  }
}
