.nav__menu {
  width: 60%;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__item {
  list-style: none;
}
.nav__link {
  text-decoration: none;
  font-size: 2rem;
  color: #000;
}
.nav-active {
  border-bottom: 0.5px solid #000;
}
@media screen and (max-width: 500px) {
  .nav__menu {
    position: fixed;
    width: 100%;
    height: 5rem;
    bottom: 0;
    background: #eeeeee;
  }
  .nav__link {
    padding: 0 0.5rem;
  }
  .hero {
    height: auto;
  }
}
